.notification.notification--position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: show linear 6s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}