@import "../node_modules/bulma/bulma.sass";
@import "./vars.scss";

a,
button,
input {
  &:focus {
    outline-color: rgb(16, 16, 16);
  }
}

.is-ucms {
  background-color: $primary-color;
  border-color: transparent;
  color: #fff;
  transition: background-color 0.2s;
  border: 0;

  &[disabled] {
    background-color: $primary-color;
    border-color: transparent;
  }

  &:hover {
    color: #fff;
    background-color: darken($primary-color, 10);
    border: 0;
  }
}

.is-loading {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid $primary-color;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner 0.75s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

.visual-hidden {
  position: absolute;
  top: -999em;
  left: -999em;
  font-size: 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
