<div class="table-container">
  <table class="table is-striped">
    <template v-if="data.caption">
      <caption class="table__caption">
        {{
          data.caption
        }}
      </caption>
    </template>
    <thead>
      <tr>
        <th v-for="header in data.headers">
          {{ header }}
          <TableRowFilter :name="header" @onSearch="emitSearch"></TableRowFilter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in data.rows">
        <td v-for="attr in row">{{ attr }}</td>
      </tr>
    </tbody>
  </table>
</div>
