<Navigation></Navigation>
<Notification v-if="msg" :msg="msg" :type="'error'"></Notification>

<section class="section">
  <div class="container">
    <h1 class="title">Operator Profile</h1>
    <button @click="showPasswordChangeModal = true">
      Change operator password
    </button>
  </div>
</section>

<Modal v-if="showPasswordChangeModal" @modalClose="showPasswordChangeModal = false">
  <template v-slot:header>
    <p class="modal-card-title">Change operator password</p>
  </template>

  <template v-slot:body>
    <DynamicForm :fields="formFields" @formSubmit="changePassword($event)"></DynamicForm>
  </template>
</Modal>
