@import "@/vars.scss";

.login {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;

  &__form {
    border: 3px solid $primary-color;
    padding: 70px;
    border-radius: 10px;
  }
}