<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <Logo></Logo>

    <button
      class="navbar-burger burger"
      aria-label="open menu"
      :aria-expanded="showMenu"
      @click="showMenu=!showMenu"
      aria-describedby="navbar-menu"
      id="navbar-toggler"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="navbar-menu" :class="{active: showMenu}" id="navbar-menu" aria-labelledby="navbar-toggler">
    <List :data="data"></List>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <button @click="logout" class="button is-danger">Logout</button>
      </div>
    </div>
  </div>
</nav>
