@import '@/vars.scss';

.navbar {
  border-bottom: 2px solid $primary-color;
  padding: 10px 0;

  .active {
    display: block;
  }

  .navbar-brand {
    height: 70px;
  }

  .navbar-link{
    &:not(.is-arrowless)::after {
      border-color: $primary-color;
    }

    &:hover {
      color: $primary-color
    }
  } 
}
