<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <Header></Header>

    <a
      class="navbar-burger burger"
      aria-label="open menu"
      :aria-expanded="showMenu"
      @click="showMenu=!showMenu"
      aria-describedby="navbar-menu"
      id="navbar-toggler"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    class="navbar-menu"
    :class="{active: showMenu}"
    id="navbar-menu"
    aria-labelledby="navbar-toggler"
  >
    <List :data="data"></List>
  </div>
</nav>
