<form class="form" @submit.prevent="onSubmit" novalidate>
  <div class="field">
    <label class="label" for="login">Your e-mail</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" :class="{'is-danger':validationError.emptyLogin || validationError.notValidLogin}"
        type="email" name="login" id="login" v-model="form.login" />
      <span class="icon is-small is-left">
        <span aria-hidden="true" class="fa fa-envelope"></span>
      </span>
    </div>
    <p v-if="validationError.emptyLogin" class="help login-help is-danger">Login is empty!</p>
    <p v-if="validationError.notValidLogin" class="help login-help is-danger">Login is not valid!</p>
  </div>

  <div class="field">
    <label class="label" for="password">Your password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" :class="{'is-danger':validationError.emptyPassword}" type="password" name="password"
        id="password" v-model="form.password" />
      <span class="icon is-small is-left">
        <span class="fa fa-unlock-alt" aria-hidden="true"></span>
      </span>
    </div>
    <p v-if="validationError.emptyPassword" class="help password-help is-danger">Password is empty!</p>
  </div>
  <div class="control">
    <button class="button is-ucms">Login</button>
  </div>
</form>